@import "./variables";

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    box-shadow: 0px 0px 5px 5px rgba($color: #1f1f1f, $alpha: 0.1);
    padding: 20px;
  }
  &__title {
    margin-bottom: 20px;
    &_red {
      color: $red-color;
    }
  }
  &__list {
    margin-bottom: 20px;
    list-style-type: disc;
    list-style-position: inside;
  }
  &__item {
    padding: 3px;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__image-container {
    height: auto;
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__button {
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px 20px;
    margin-top: auto;
  }
  &__swipers {
    width: 50%;
    height: 100%;
  }
  &__swiper {
    height: 300px;
    &_small {
      height: auto;
      padding-top: 5px;
    }
  }

  @include mobile {
    flex-direction: column;
    &__swipers {
      width: 100%;
      height: 100%;
    }
  }
}

.swiper {
  &-small {
    & .swiper-slide {
      opacity: 0.7;
    }
    & .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}
