@import "./variables";

.footer {
  padding: 30px 0;
  padding-bottom: 0;
  &__content {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  &__contacts {
    width: 55%;
  }
  &__map {
    width: 45%;
    height: 300px;
  }
  @include mobile {
    &__content {
      flex-direction: column;
    }
    &__contacts,
    &__map {
      width: 100%;
    }
  }
}

.contacts {
  font-weight: 300;
  &__title {
    color: $red-color;
    margin-bottom: 20px;
  }
  &__list {
    margin-bottom: 20px;
  }
  &__item {
    padding: 10px 0;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__link-image {
    width: 20px;
  }
  &__text {
    margin-bottom: 10px;
    &_blue {
      color: $blue-color;
      font-weight: bold;
    }
  }
}

.social {
  &__title {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1.2em;
  }
  &__list {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  &__link-image {
    width: 40px;
  }
}

.copyright {
  background-color: $black-color;
  color: #fff;
  font-size: 1.2em;
  padding: 40px;
  &__container {
    display: flex;
    gap: 5px;
  }
  @include mobile {
    font-size: 1em;
  }
}
