@import "./variables";

.header {
  padding: 30px 0;
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 800;
  }
  &__link,
  &__number-link {
    transition: color 0.3s ease-out;
    &:hover {
      color: $red-color;
    }
  }
  &__number-link {
    font-weight: 300;
  }
  @include mobile {
    padding: 10px 0;
    &__list {
      display: none;
    }
  }
}
