@import "./variables";

.hero {
  &__title {
    display: none;
  }
  &__image {
    width: 65%;
    margin-bottom: 30px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    display: flex;
    gap: 20px;
  }
  &__button {
    padding: 10px 15px;
    background-color: $red-color;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
    transition: opacity 0.3s ease-out;
    &:hover {
      opacity: 0.7;
    }
  }
  @include mobile {
    &__content {
      flex-direction: column;
      align-items: start;
    }
    &__list {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
}

.hero-item {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.1em;
  font-weight: 300;
  &__image {
    width: 40px;
  }
}
