.services {
  &__title {
    margin-bottom: 30px;
  }
  &__card-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
  }
  &__info-list {
    display: flex;
    gap: 30px;
  }
}

.info-card {
  position: relative;
  padding: 30px;
  background-color: #f5f5f5;
  &__title {
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
  &__image {
    margin-bottom: 20px;
  }
}

.info-card-image {
  position: relative;
  width: 50px;
  &__container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    height: 50px;
    position: absolute;
    top: -50px;
  }
  &__img {
    width: 45px;
  }
}
