@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Open Sans;
  @include mobile {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  color: inherit;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.container {
  max-width: 1000px;
  padding: 0 10px;
  width: 100%;
  margin: auto;
  @include mobile {
    max-width: 500px;
  }
}

ul {
  list-style-type: none;
}

.title {
  text-transform: uppercase;
  color: #fff;
  background-color: #1f1f1f;
  padding: 20px;
  @include mobile {
    font-size: 1.3em;
  }
}

.section {
  padding: 30px 0;
  @include mobile {
    padding: 10px 0;
  }
}

@import "./fonts";
@import "./normalize";
@import "./card";
@import "./header";
@import "./hero";
@import "./services";
@import "./additional";
@import "./rent";
@import "./footer";
@import "./form";
